body {
    width: 400px;
    height: 550px;
    font-family: 'Verdana', 'Arial', sans-serif;
    font-size: 16px;
    background-position: center;
}

.filter_pane {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: white;
    opacity: 0.7;
}

.contents {
    position: relative;
    height: 100%;
}

.section_title {
    width: 100%;
    border-top: 1px solid #36c;
    background-color: #e5ecf9;
    font-weight: bold;
    padding: 2px 2px;
    height: auto;
}

.section_title_label {
    float: left;
}

.section_title_icon {
    text-align: right;
}

.section_title_icon img {
    cursor: pointer;
}

table {
    width: 100%;
}

td {
    font-size: 14px;
    border-bottom: 1px solid #e5ecf9;
    white-space: nowrap;
}

td .long_url {
    overflow: hidden;
    width: 415px;
}

td .short_url {
    width: 100px;
}

td a {
    text-decoration: none;
    color: black;
}

td a:hover {
    text-decoration: underline;
}

td a:-webkit-any-link {
    cursor: auto;
}

td .click_count {
    width: 40px;
    text-align: right;
    font-weight: bold;
    cursor: pointer;
}

.history_table_progress {
    text-align: center;
    margin-top: 100px;
}

.shortener_pane {
    padding: 8px;
    height: 55px;
}

input#input_long_url {
    border: 1px solid gray;
    font-size: 14px;
    width: 320px;
    height: 23px;
    vertical-align: top;
    margin-top: 6px;
}

button#shorten {
    -webkit-appearance: button;
    background-color: #eee;
    background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(white), to(#ddd));
    border: 1px solid #999;
    width: 80px;
    height: 23px;
    vertical-align: top;
    cursor: pointer;
    margin-top: 6px;
}

img#shorten_progress {
    display: none;
    margin-top: 2px;
    width: 24px;
    height: 24px;
}

input#input_short_url {
    border: 0px;
    font-size: 14px;
    width: 180px;
    height: 23px;
    vertical-align: top;
    margin-top: 6px;
    text-align: right;
    background-color: transparent;
}

.qrcode {
    float: right;
    width: 20px;
    margin-right: 3px;
    display: none;
}

.qrcode img {
    cursor: pointer;
}

.url_detail {
    float: right;
    font-size: 13px;
    display: none;
    margin-top: 2px;
    margin-right: 5px;
}

.qrcode_pane {
    position: absolute;
    border: 1px solid gray;
    top: 10px;
    left: 350px;
    width: 100px;
    height: 100px;
    background-color: white;
    display: none;
    margin-bottom: 20px;
    padding: 0;
}
.responseField {
    margin-bottom: 8px;
}
